name: Release
on:
  push:
    tags:
      - 'v*'

jobs:
  build-release:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
      attestations: write
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@1.79.0
        with:
          components: clippy, rustfmt
      - uses: Swatinem/rust-cache@v2
      - run: cargo build --release --locked -p icu_sl4_cli -p icu_sl4_http -p icu_sl4_pdf
      - run: cargo install b3sum
      - name: Hashes
        run: |
          echo "CLI:" && b3sum target/release/icu_sl4_cli
          echo "HTTP:" && b3sum target/release/icu_sl4_http
          echo "PDF:" && b3sum target/release/icu_sl4_pdf
      - name: Generate SBOM (SPDX)
        uses: anchore/sbom-action@v0
        with:
          format: spdx-json
          output-file: sbom.spdx.json
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: |
            target/release/icu_sl4_cli
            target/release/icu_sl4_http
            target/release/icu_sl4_pdf
            sbom.spdx.json
      - name: Generate provenance
        uses: actions/attest-build-provenance@v1
        with:
          subject-path: |
            target/release/icu_sl4_cli
            target/release/icu_sl4_http
            target/release/icu_sl4_pdf
